.App {
  text-align: center;
}
body{
  background-color: paleturquoise
}
nav{
  display: inline;
}
#numbers {
  width: 35%;
}
.details {
  display: block;
  text-align: right;
  font-size: small;
  position: relative;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
#wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}
.thumb {
  /* flex:1; */
  /* flex-wrap: wrap; */
  margin: 5px;
  height: 80px;
  width: 80px;
  display: inline-block;
  cursor: pointer;
  object-fit:cover;
}
#thumbnails {
  position: absolute;
  display: inline-block;
  display:grid;
  /* flex-wrap:wrap; */

}



